
  <footer>
    <br>
        <div class="container">
          <div class="row">
    
    
            <div class="col col-lg-2 col-md-2 col-sm-6 helper">
              <div class="imgHolder">
                <img src="./images/MainImg/ARTOW LOGO.png" class="img-fluid" alt="NoImg">
              </div>
            </div>
    
            <div class="col col-lg-2 col-md-2 col-sm-6 FirstPart">
              <h4>Freelancer</h4>
              <a href="#">Artist</a>
              <a href="#">Projects</a>
              <a href="#">Categories</a>
              <a href="#">Preferred Artist</a>
            </div>
    
            <div class="col col-lg-2 col-md-2 col-sm-6 FirstPart">
              <h4>About</h4>
              <a href="#">About us</a>
              <a href="#">Security</a>
              <a href="#">Investor</a>
              <a href="#">Sitemap</a>
              <a href="#">News</a>
            </div>
    
            <div class="col col-lg-2 col-md-3 col-sm-6 FirstPart">
              <h4>Terms</h4>
              <a href="#">Privacy Policy</a>
              <a href="#">Terms and Conditions</a>
              <a href="#">How it Works</a>
              <a href="#">Copyright Policy</a>
              <a href="#">Fees and Charges</a>
              <a href="#">Help & Support</a>
            </div>
    
    
            <div class="col col-lg-2 col-md-3 col-sm-6 FirstPart">
              <h4>Social Media</h4>
              <div class="SocialMediacarrier">
                <a href="https://www.facebook.com/ARTOW-107556281371313" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="https://twitter.com/artowgallery?s=08" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCtfqy0Pw66911SwTSfikPeg" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/artowgallery/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
    
          </div>
          
          <hr>
    
    
          <div class="row FSecondLayer">
            <div class="col col-sm-12 col-md-6 col-lg-3 FooterLayerTwo">
              <a>50,005,619</a>
              <a>Registered Users</a>
            </div>
    
            <div class="col col-sm-12 col-md-6 col-lg-3 FooterLayerTwo">
              <a>19,287,555</a>
              <a>Total Jobs Posted</a>
            </div>
    
    
            <div class="col col-sm-12 col-md-12 col-lg-6 FooterLayerTwo">
            <a>Copyright &copy; Artow 2021 All Rights Reserved !</a>
            </div>
    
          </div>
    
    
          
          
        </div>
        <br>
      </footer>
    
    